@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

body{
    background-color: #EBEBEC;
    max-width: 1920px;
    margin: 0 auto;
}

#Home{
    animation: inicializar .7s forwards;
}

#digitando::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

nav li{
    cursor: pointer;
    padding-left: 3rem;
    font-size: 1.75rem;
}

h2{
    font-family: 'Poppins';
    font-weight: 600;
}

p{
    font-family: 'Poppins';
    font-weight: 200;
}

.imgSkills{
    @apply  w-48 h-48 p-3 flex flex-col items-center bg-white;
    box-shadow: 0 0 0.5rem white;
}

.linkHome{
    justify-self: start;
    padding: 15px 40px;
    border-radius: 5px;
    border: solid 2px black;
}

@keyframes inicializar{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}