@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

body{
    background-color: #EBEBEC;
    /* max-width: 1920px; */
    margin: 0 auto;
}

.fundo{
    background-image: linear-gradient(rgba(255, 255, 255, 0.777), rgba(255, 255, 255, 0.333));
    @apply bg-primary shadow-bb
}

header{
    z-index: 2;
}

.navTrasm{
    transition: transform 0.2s;
}

.nav--hidden{
    transform: translateY(-100px);
}

#Home{
    animation: inicializar .7s forwards;
}

#digitando::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

nav li{
    cursor: pointer;
    padding-left: 3rem;
    font-size: 1.75rem;
}

h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

#navegacao.ativado{
    background: linear-gradient(rgba(255, 255, 255, 0.777), rgba(255, 255, 255, 0.333));
    width: 150px;
    position: absolute;
    display: grid;
    top: 83px;
    z-index: 10;
    padding: 30px;
    gap: 16px;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    margin-right: 0px;
    right: 0px;
    text-align: end;
    justify-content: center;
    animation: inicializar .9s ease-in-out forwards;
}

.imgProject{
    transition: transform 0.6s ease-in-out;  
    transition: box-shadow 0.2s ease-in-out;
}

.imgProject:hover{
    border: 4px #FFB3B3;
    border-left-style: solid;
    border-bottom-style: solid;
    border-radius: 0;
    transform: scale(1.05); 
    box-shadow: -4px 4px 10px rgba(255,179,179,0.5);
}

.imgProjectR:hover{
    border-left-style: none;
    border-bottom-style: solid;
    border-right-style: solid;
    box-shadow: 4px 4px 10px rgba(255,179,179,0.5);
}

.imgSkills{
    @apply  w-40 h-40 p-3 flex flex-col items-center bg-white;
    box-shadow: 0 0 0.5rem white;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.imgSkills::before{
    content: '';
    transition: .5s ease-in-out;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.imgSkills::after{
    content: '';
    transition: .5s ease-in-out;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.imgSkills:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid #FFB3B3;
    border-right: 2px solid #FFB3B3;
    box-shadow: none;
}

.imgSkills:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #FFB3B3;
    border-left: 2px solid #FFB3B3;
    box-shadow: none;
}

.linkHome{
    justify-self: start;
    padding: 15px 40px;
    border-radius: 5px;
    border: solid 2px black;
}

.linkHome:hover{
    color: #FFB3B3;
    border: solid 2px #FFB3B3;
}

@keyframes inicializar{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio1:checked ~ .nav-Auto .auto-btn1{
    @apply bg-second border-second z-[1];
}

#radio2:checked ~ .nav-Auto .auto-btn2{
    @apply bg-second border-second z-[1];
}

#radio3:checked ~ .nav-Auto .auto-btn3{
    @apply bg-second border-second z-[1];
}